.image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/note.jpg);
    background-size: cover;
    height: 95vh;
}

.w-90 {
    width: 90%;
}

h1 {
    font-size: 5rem !important;
    margin-bottom: 56px;
}

.group {
    position: relative;
    margin-bottom: 45px;
    width: 75%;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -10px;
    font-size: 14px;
    color: #0d6efd;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #0d6efd;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #0d6efd;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #0d6efd;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #0d6efd;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* ALERT ================ */
.alert,
.alert-danger {
    margin: 2px 0px !important;
    padding: 8px !important;
    background-color: transparent !important;
    border: 0;
    color: red;
}

.alert p {
    margin: 0px !important;
}


/* MEDIA QUERY ================ */
@media screen and (max-width:992px) {
    .group {
        width: 75%;
    }

    .bar:before,
    .bar:after {
        bottom: 8px ;
    }
}


@media screen and (max-width:1200px) {
    .outerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4rem !important;
    }

    .formContainer {
        padding: 32px 0px;
    }

    .formContainer input {
        margin: 8px 0px !important;
    }

    .registerBtn {
        margin-top: 16px;
    }

    .bar:before,
    .bar:after {
        bottom: 8px ;
    }
}