<nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">
    <div class="container px-5">
        <a class="navbar-brand text-uppercase" routerLink="/home">Note-App</a>
        
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul *ngIf="!isLogin" class="navbar-nav ms-auto mb-lg-0">
                <li *ngIf="!notFound" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{menuName}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/login" routerLinkActive="text-bg-dark">Login</a></li>
                        <li><a class="dropdown-item" routerLink="/register" routerLinkActive="text-bg-dark">Register</a></li>
                    </ul>
                </li>
            </ul>

            <ul *ngIf="isLogin" class="navbar-nav ms-auto mb-sm-0">
                <li class="d-flex justify-content-center align-items-center">
                    <h5 class="m-0 text-white text-capitalize">
                        <i class="fa-regular fa-user me-1"></i>
                        {{userName}}
                    </h5>
                    <button (click)="logout()" type="button" class="btn btn-primary ms-4">
                        <span class="logoutSpan">Logout</span>
                        <i class="fa-solid logoutIcon fa-arrow-right-from-bracket ms-2"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>